*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif, 'Open Sans', 'Helvetica Neue';
}

body {
    background: $background_color;
    color: $text_color;
}

.container {
    padding: 10px 5%;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: $link_color;

    &:hover {
        color: $text_color;
    }
}

.title {
    font-weight: bold;
}