$theme1: #c0b5a9;
$theme2: #54b7b1;
$theme4: #df852d;
$theme3: #eed9c4;

$background_color: #2b3230;
$faded_background: #3b3b3b;

$text_color: #efefef;
$link_color: $theme2;
$faded_text: #acacac;

$danger: #ff0000;
$success: #008000;
$status: #49cefa;
$warning: #c28005;

$faded_line: #666666;

.read {
    color: $faded_text;
    font-style: italic;
}

.center {
    text-align: center;
}

.stack {
    display: grid;
}
