$theme1: #c0b5a9;
$theme2: #54b7b1;
$theme4: #df852d;
$theme3: #eed9c4;

$danger: #ff0000;
$success: #008000;
$status: #49cefa;
$warning: #c28005;


// $background_color: #2b3230;
$background_color: #ffffff;
// $text_color: #efefef;
$text_color: #000;


$dashboard_background: #096b65;
$dashboard_color: #fff;


$faded_background: #3b3b3b;
$faded_text: #575757;
$faded_line: #c4c4c4;


$elements_background: #000;
$elements_color: #fff;


$badge_background: #54b7b1;
$badge_color: #fff;


$link_color: blue;
$light_link_color: lightblue;



.read,
.inactive {
    color: $faded_text;
    font-style: italic;
}

.unverified {
    color: $danger;
}

.badge {
    font-size: 0.65em;
    background: $badge_background;
    color: $badge_color;
    padding: 0 6px 1px;
    border-radius: 4px;
}

.super_admin {
    background: $success;
}

.center {
    text-align: center !important;
}

.stack {
    display: grid;
}
