.alert {
    padding: 0.5em 1em;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    z-index: 10;
}

.alert-danger {
    background: $danger;
}

.alert-success {
    background: $success;
}

.alert-status {
    background: $status;
}

.alert-warning {
    background: $warning;
}

.inline_alert {
    margin: 0.1em 0 0;
    color: $danger;
}

.inline_alert_success {
    padding: 0.5em;
    margin: 0.5em 0;
    color: $success;
}