form {
    label {
        font-size: 1em;
        color: #363636;
    }

    label.required {
        &::after {
            content: " * ";
            color: $danger;
            font-weight: bold;
            font-size: 1em;
        }
    }

    input,
    select,
    textarea {
        width: 100%;
        background: transparent;
        border: 1px solid $faded_line;
        border-radius: 4px;
        margin: 0.08em 0 0;
        padding: 4px 8px;
        font-size: 1em;
    }

    input,
    select {
        &::placeholder {
            opacity: 0.8;
        }
    }

    .inputs {
        margin: 0 0 0.8em;
    }
}

.custom_form {
    background: #fff;
    padding: 0 0 12px;
    border-radius: 8px 8px 0 0;
    margin: 0 0 1em;

    .header {
        display: flex;
        gap: 0.5em;
        background: #000;
        color: #efefef;
        padding: 8px 24px;
        border-radius: 8px 8px 0 0;
    }
    
    form {
        padding: 12px 24px;

        p {
            color: #000;
            margin: 0.4em 0;
        }

        .image_input {
            margin: 0.4em 0;

            .image {
                width: 100px;
                height: 100px;
                cursor: grab;
            }
        }

        .details {
            margin: 0 0 1.6em;

            .image {
                width: 100px;
                height: 100px;
            }
        }

        .custom_radio_buttons {
            display: flex;
            align-items: center;
            gap: 1em;
            margin: 0.3em 0 0;
    
            label {
                position: relative;
                padding: 0.3em 0;
                display: flex;
                align-items: center;
                cursor: pointer;
                width: auto;
    
                .option_radio {
                    margin: 0 0.2em 0 0;
                    position: relative;
                    appearance: none;
                    cursor: pointer;
                    border: unset;
                    width: auto;
                }
    
                .option_radio:before {
                    -webkit-transition: -webkit-transform 0.4s
                        cubic-bezier(0.45, 1.8, 0.5, 0.75);
                    -moz-transition: -moz-transform 0.4s
                        cubic-bezier(0.45, 1.8, 0.5, 0.75);
                    transition: transform 0.4s
                        cubic-bezier(0.45, 1.8, 0.5, 0.75);
                    -webkit-transform: scale(0, 0);
                    -moz-transform: scale(0, 0);
                    -ms-transform: scale(0, 0);
                    -o-transform: scale(0, 0);
                    transform: scale(0, 0);
                    position: absolute;
                    top: 0;
                    left: 0.125rem;
                    content: "";
                    z-index: 1;
                    width: 0.7rem;
                    height: 0.7rem;
                    border-radius: 50%;
                    background: #16a085;
                }
    
                .option_radio:checked:before {
                    -webkit-transform: scale(1, 1);
                    -moz-transform: scale(1, 1);
                    -ms-transform: scale(1, 1);
                    -o-transform: scale(1, 1);
                    transform: scale(1, 1);
                }
    
                .option_radio:after {
                    content: "";
                    position: absolute;
                    top: -0.25rem;
                    left: -0.125rem;
                    width: 0.9rem;
                    height: 0.9rem;
                    background: #fff;
                    border: 2px solid #d6d6d6;
                    border-radius: 50%;
                }
            }
        }
    }
}

@media screen and (width >= 726px) {
    form {
        .input_group,
        .input_group_3 {
            display: grid;
            gap: 0 1em;
        }

        .input_group {
            grid-template-columns: 1fr 1fr;
        }

        .input_group_3 {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}