nav {
    height: 10vh;
    padding: 15px 5%;
    display: grid;
    align-items: center;
    grid-template-columns: 50% 1fr auto;
    gap: 1em;
    position: sticky;
    top: 0;
    background: rgba($background_color, 0.8);
    backdrop-filter: blur(5px);
    z-index: 1000;

    a {
        color: $text_color;
    }

    .brand {
        .title {
            font-size: 1.2em;
        }
    }

    .nav_links {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 1.2em;

        .active {
            font-weight: bold;
        }
    }

    .nav_authentication {
        margin-left: 2em;

        .login_btn,
        .logout_btn {
            color: #ededed;
            padding: 6px 16px;
            border-radius: 32px;
            text-transform: uppercase;
            font-weight: bold;
        }

        .actions {
            display: flex;
            align-items: center;
            gap: 1em;

            .logout_btn {
                background: rgb(240, 6, 6);
            }
        }

        .login_btn {
            background: #000;
        }
    }

    .burger_menu {
        display: none;
    }
}

@media screen and (width <= 726px) {
    nav {
        grid-template-columns: 1fr auto auto auto;
        gap: 0.5em;

        .nav_links {
            display: none;
            position: absolute;
            top: 10vh;
            right: 0;
            height: 50vh;
            width: 60%;
            padding: 0 20px;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-evenly;
            background: rgba($color: #919191, $alpha: .75);
            backdrop-filter: blur(5px);

            a {
                font-size: 1.1em;
                letter-spacing: 0.5px;
            }
        }

        .burger_menu {
            display: block;
            cursor: pointer;

            .burger_icon {
                width: 30px;
                height: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                span {
                    width: 100%;
                    height: 3px;
                    background: #000;
                }
            }
        }

        .show {
            display: flex;
        }

        .active_burger {
            span {
                transition: transform 0.3s ease, opacity 0.3s ease;
                &:nth-child(1) {
                    transform: rotate(-45deg) translate(-5px, 6px);
                }

                &:nth-child(2) {
                    opacity: 0;
                }

                &:nth-child(3) {
                    transform: rotate(45deg) translate(-5px, -6px);
                }
            }
        }
    }
}