$header_background: #fff;
$header_color: #000;

.table {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    .header {
        display: grid;
        gap: 0.4em;
        align-items: center;
        margin: 0 0 0.8em;

        .details {
            .title {
                font-size: 1em;
            }

            .stats {
                span {
                    font-size: 0.75em;
                }
            }
        }

        input {
            padding: 4px 12px;
            font-size: 1em;
            border: 1px solid $faded_line;
            background: transparent;
            border-radius:  32px;
            color: #efefef;

            &::placeholder {
                color: #efefef;
                font-style: italic;
            }
        }

        .btn {
            margin: 0.8em 0 0;

            a {
                background: #fff;
                color: #000;
                padding: 4px 12px;
                border-radius: 4px; 
                font-weight: bold;
                font-size: 1em;

                &:hover {
                    background: #000;
                    color: #fff;
                    transition: all 0.3s ease-in-out;
                }
            }
        }
    }

    table {
        width: 100%;
        border-spacing: 0;
        border-collapse: collapse;

        thead {
            background: $header_background;
            color: $header_color;

            th {
                padding: 2px 4px;
                font-size: 0.9em;
                text-align: left;

                &:first-of-type {
                    border-radius: 4px 0 0 0;
                }

                &:last-of-type {
                    border-radius: 0 4px 0 0;
                }
            }
        }

        tbody {
            tr {
                border-bottom: 1px solid $faded_line;

                td {
                    padding: 4px;
                    font-size: 0.95em;
                }
            }
        }
    }
}

@media screen and (width >= 726px) {
    .table {
        .header {
            grid-template-columns: 1fr 1fr 1fr;

            .btn {
                justify-self: right;
            }
        }
    }
}