.Dashboard {
    .stats {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
        padding: 8px 0;

        .stat {
            display: grid;
            background: $faded_background;
            padding: 8px 12px;
            border-radius: 8px;
            
            span {
                &:first-of-type {
                    font-weight: bold;
                    font-size: 1.2em;
                }

                &:last-of-type {
                    font-size: 0.85em;
                    color: $faded_text;
                }
            }
        }
    }
}

@media screen and (width >= 726px) {
    .Dashboard {
        .stats {
            grid-template-columns: repeat(5, 1fr);
        }
    }
}
