.MainApp {
    .app_content {
        margin-left: $aside_width;
        padding: 4px 16px;
        min-height: 100dvh;
        height: auto;
    }
}

@media screen and (min-width: 726px) {
    .MainApp {
        aside {
            width: $aside_width;
        }
    }
}