.MainApp {
    .app_content {
        margin-left: $aside_width;
        padding: 4px 16px;
        min-height: 100dvh;
        height: auto;

        .system_nav {
            display: flex;
            gap: 1em;
            margin: 0.2em 0 0.4em;
            
            a {
                font-weight: bold;
            }

            a:not(:last-child),
            span:not(:last-child) {
                font-weight: bold;

                &::after {
                    content: " / ";
                    color: $text_color;
                    margin: 0 0 0 0.6em;
                }
            }
        }

        .row_container {
            display: grid;
            gap: 2em;
        }
    }
}

.Products {
    .product_images {
        display: flex;
        gap: 1.5em;
        margin: 0 0 0.8em;

        .product_image {
            position: relative;
            border: 1px solid $faded_line;
            border-radius: 8px;

            img {
                object-fit: contain;
            }

            a {
                position: absolute;
                top: -15px;
                right: -5px;
                font-size: 1.2em;
                color: $danger;
            }
        }
    }
}

@media screen and (min-width: 726px) {
    .MainApp {
        aside {
            width: $aside_width;
        }

        .app_content {
            .row_container {
                grid-template-columns: 2fr 1fr;
            }
        }
    }
}