.read,
.inactive {
  color: #575757;
  font-style: italic;
}

.unverified {
  color: #ff0000;
}

.badge {
  font-size: 0.65em;
  background: #54b7b1;
  color: #fff;
  padding: 0 6px 1px;
  border-radius: 4px;
}

.super_admin {
  background: #008000;
}

.center {
  text-align: center !important;
}

.stack {
  display: -ms-grid;
  display: grid;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Roboto, sans-serif, 'Open Sans', 'Helvetica Neue';
}

body {
  background: #fff;
  color: #000;
}

.container {
  padding: 10px 5%;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

.image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

a {
  text-decoration: none;
  color: blue;
}

a:hover {
  color: #000;
}

.title {
  font-weight: bold;
}

nav {
  height: 10vh;
  padding: 15px 5%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 50% 1fr auto;
      grid-template-columns: 50% 1fr auto;
  gap: 1em;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 1000;
}

nav a {
  color: #000;
}

nav .brand .title {
  font-size: 1.2em;
}

nav .nav_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 1.2em;
}

nav .nav_links .active {
  font-weight: bold;
}

nav .nav_authentication {
  margin-left: 2em;
}

nav .nav_authentication .login_btn,
nav .nav_authentication .logout_btn {
  color: #ededed;
  padding: 6px 16px;
  border-radius: 32px;
  text-transform: uppercase;
  font-weight: bold;
}

nav .nav_authentication .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}

nav .nav_authentication .actions .logout_btn {
  background: #f00606;
}

nav .nav_authentication .login_btn {
  background: #000;
}

nav .burger_menu {
  display: none;
}

@media screen and (max-width: 726px) {
  nav {
    -ms-grid-columns: 1fr auto auto auto;
        grid-template-columns: 1fr auto auto auto;
    gap: 0.5em;
  }
  nav .nav_links {
    display: none;
    position: absolute;
    top: 10vh;
    right: 0;
    height: 50vh;
    width: 60%;
    padding: 0 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    background: rgba(145, 145, 145, 0.75);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
  }
  nav .nav_links a {
    font-size: 1.1em;
    letter-spacing: 0.5px;
  }
  nav .burger_menu {
    display: block;
    cursor: pointer;
  }
  nav .burger_menu .burger_icon {
    width: 30px;
    height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  nav .burger_menu .burger_icon span {
    width: 100%;
    height: 3px;
    background: #000;
  }
  nav .show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav .active_burger span {
    -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
    transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transition: transform 0.3s ease, opacity 0.3s ease, -webkit-transform 0.3s ease;
  }
  nav .active_burger span:nth-child(1) {
    -webkit-transform: rotate(-45deg) translate(-5px, 6px);
            transform: rotate(-45deg) translate(-5px, 6px);
  }
  nav .active_burger span:nth-child(2) {
    opacity: 0;
  }
  nav .active_burger span:nth-child(3) {
    -webkit-transform: rotate(45deg) translate(-5px, -6px);
            transform: rotate(45deg) translate(-5px, -6px);
  }
}

aside {
  height: 100%;
  position: fixed;
  padding: 4px 8px;
  text-align: center;
  border-right: 1px solid #c4c4c4;
}

aside .header .text,
aside .text {
  display: none;
}

@media screen and (min-width: 726px) {
  aside .header .text,
  aside .text {
    display: block;
  }
}

aside .header {
  padding: 0.8em 0 0;
}

aside .header img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

aside ul {
  list-style: none;
  margin: 0.4em 0;
}

aside ul li {
  padding: 4px 4px;
  border-bottom: 1px solid #c4c4c4;
}

aside ul li:first-of-type {
  border-top: 1px solid #c4c4c4;
}

aside ul li i {
  font-size: 1.5em;
}

@media screen and (min-width: 726px) {
  aside ul li i {
    font-size: 1em;
  }
}

aside ul li a {
  color: #000;
}

aside ul .active a {
  color: blue;
  font-weight: bold;
}

aside .footer .logout button {
  background: #ff0000;
}

aside .footer .logout button i {
  font-size: 1.2em;
}

@media screen and (min-width: 726px) {
  aside .footer .logout button i {
    font-size: 1em;
  }
}

@media screen and (min-width: 726px) {
  aside {
    text-align: left;
  }
  aside .header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40px auto;
        grid-template-columns: 40px auto;
    gap: 0.1em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  aside .header span {
    font-size: 0.8em;
  }
  aside .header .text {
    display: -ms-grid;
    display: grid;
  }
  aside ul li a {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.95em 1fr;
        grid-template-columns: 0.95em 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0.5em;
  }
  aside ul li a i {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  aside .footer {
    position: absolute;
    bottom: 1.5em;
    width: 90%;
    margin: auto;
  }
  aside .footer button {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.4em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

footer {
  background: #1a237e;
  color: #fff;
}

footer .container {
  padding: 2.8em 5%;
}

footer .container section {
  margin: 0 0 1.5em;
}

footer .container .branding .title {
  font-size: 1.5em;
  margin: 0.2em 0;
}

footer .container .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5em;
}

footer .container .links a {
  color: #fff;
  font-weight: bold;
}

footer .container .contacts p {
  font-weight: bold;
}

footer .container .contacts .socials {
  margin: 0.8em 0 0;
}

footer .container .contacts .socials img {
  width: 24px;
  height: 24px;
  margin: 0 1em 0 0;
}

footer .copyright {
  border-top: 1px solid #c4c4c4;
  text-align: center;
  padding: 12px;
}

@media screen and (min-width: 726px) {
  footer .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 30% 1fr 1fr;
        grid-template-columns: 30% 1fr 1fr;
  }
  footer .container section {
    margin: 0;
  }
  footer .container .links,
  footer .container .contacts {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.alert {
  padding: 0.5em 1em;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 10px;
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  z-index: 10;
}

.alert-danger {
  background: #ff0000;
}

.alert-success {
  background: #008000;
}

.alert-status {
  background: #49cefa;
}

.alert-warning {
  background: #c28005;
}

.inline_alert {
  margin: 0.1em 0 0;
  color: #ff0000;
}

.inline_alert_success {
  padding: 0.5em;
  margin: 0.5em 0;
  color: #008000;
}

.table {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.table .header {
  display: -ms-grid;
  display: grid;
  gap: 0.4em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0.8em;
}

.table .header .details .title {
  font-size: 1em;
}

.table .header .details .stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.4em;
}

.table .header .details .stats span {
  font-size: 0.75em;
}

.table .header .details .stats span:not(:last-of-type)::after {
  content: ".";
  margin-left: 0.4em;
  font-weight: bold;
}

.table .header input {
  padding: 6px 14px;
  font-size: 1em;
  border: 1px solid #c4c4c4;
  background: transparent;
  border-radius: 32px;
}

.table .header input::-webkit-input-placeholder {
  color: #575757;
  font-style: italic;
}

.table .header input:-ms-input-placeholder {
  color: #575757;
  font-style: italic;
}

.table .header input::-ms-input-placeholder {
  color: #575757;
  font-style: italic;
}

.table .header input::placeholder {
  color: #575757;
  font-style: italic;
}

.table .header .btn {
  margin: 0.8em 0 0;
}

.table .header .btn a {
  background: #000;
  color: #fff;
  padding: 6px 12px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 1em;
}

.table .header .btn a:hover {
  opacity: 0.8;
  -webkit-box-shadow: 2px 2px 4px solid #000;
          box-shadow: 2px 2px 4px solid #000;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.table table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

.table table thead {
  background: #000;
  color: #fff;
}

.table table thead th {
  padding: 2px 4px;
  font-size: 0.9em;
  text-align: left;
}

.table table thead th:first-of-type {
  border-radius: 4px 0 0 0;
}

.table table thead th:last-of-type {
  border-radius: 0 4px 0 0;
}

.table table tbody tr {
  border-bottom: 1px solid #c4c4c4;
}

.table table tbody tr td {
  padding: 4px;
  font-size: 0.95em;
}

.table table tbody tr td p:not(:first-of-type),
.table table tbody tr td div:not(:first-of-type) {
  margin: 0.2em 0 0;
}

.table table tbody tr td img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.table table tbody tr .action_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.8em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1024px) {
  .table .header {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .table .header .btn {
    -ms-grid-column-align: right;
        justify-self: right;
  }
}

.cards {
  display: -ms-grid;
  display: grid;
  gap: 1.5em;
}

.cards .card {
  -webkit-box-shadow: 4px 6px 8px #808080;
          box-shadow: 4px 6px 8px #808080;
  border-radius: 8px;
}

.cards .card a {
  color: #000;
}

.cards .card .image {
  height: 300px;
  padding: 4px;
}

.cards .card .text {
  padding: 10px 16px 15px;
}

.cards .card .text .details .title {
  font-size: 1.28em;
  margin: 0 0 0.8em;
}

.cards .card .text .details .price {
  font-size: 1.2em;
  color: #008000;
}

@media screen and (min-width: 1024px) {
  .cards {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

form label {
  font-size: 1em;
  color: #363636;
}

form label.required::after {
  content: " * ";
  color: #ff0000;
  font-weight: bold;
  font-size: 1em;
}

form input,
form select,
form textarea {
  width: 100%;
  background: transparent;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  margin: 0.08em 0 0;
  padding: 4px 8px;
  font-size: 1em;
}

form input::-webkit-input-placeholder,
form select::-webkit-input-placeholder {
  opacity: 0.6;
}

form input:-ms-input-placeholder,
form select:-ms-input-placeholder {
  opacity: 0.6;
}

form input::-ms-input-placeholder,
form select::-ms-input-placeholder {
  opacity: 0.6;
}

form input::placeholder,
form select::placeholder {
  opacity: 0.6;
}

form .inputs {
  margin: 0 0 0.8em;
}

form input[type=file] {
  color: #000;
}

.custom_form {
  background: #fff;
  padding: 0 0 12px;
  border-radius: 8px;
  margin: 0 0 1em;
  border: 1px solid #c4c4c4;
}

.custom_form .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5em;
  background: #000;
  color: #fff;
  padding: 8px 24px;
  border-radius: 8px 8px 0 0;
}

.custom_form .header a {
  color: lightblue;
}

.custom_form .details {
  margin: 0 0 1.6em;
  color: #000;
}

.custom_form .details .image {
  width: 100px;
  height: 100px;
  margin: 0 0 0.5em;
}

.custom_form .details a {
  color: blue;
}

.custom_form .details .columns {
  padding: 12px 24px;
  display: -ms-grid;
  display: grid;
  gap: 2em;
}

.custom_form .details .columns .column p {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.8fr 2fr;
      grid-template-columns: 0.8fr 2fr;
  margin: 0.2em 0 0;
}

.custom_form .details .columns .column p span:first-of-type {
  color: #0b0b0b;
}

.custom_form .details .columns .column .contents {
  margin: 0.5em 0 0;
}

.custom_form .details .columns form {
  padding: unset;
}

.custom_form form {
  padding: 12px 24px;
}

.custom_form form p {
  color: #000;
  margin: 0.4em 0;
}

.custom_form form label {
  color: #575757;
}

.custom_form form .image_input {
  margin: 0.4em 0;
}

.custom_form form .image_input .image {
  width: 100px;
  height: 100px;
  cursor: -webkit-grab;
  cursor: grab;
}

.custom_form form .custom_radio_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  margin: 0.3em 0 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.custom_form form .custom_radio_buttons label {
  position: relative;
  padding: 0.3em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  width: auto;
}

.custom_form form .custom_radio_buttons label .option_radio {
  margin: 0 0.2em 0 0;
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  border: unset;
  width: auto;
}

.custom_form form .custom_radio_buttons label .option_radio:before {
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  transition: -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75), -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
  position: absolute;
  top: 0;
  left: 0.125rem;
  content: "";
  z-index: 1;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  background: #16a085;
}

.custom_form form .custom_radio_buttons label .option_radio:checked:before {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

.custom_form form .custom_radio_buttons label .option_radio:after {
  content: "";
  position: absolute;
  top: -0.25rem;
  left: -0.125rem;
  width: 0.9rem;
  height: 0.9rem;
  background: #fff;
  border: 2px solid #d6d6d6;
  border-radius: 50%;
}

@media screen and (min-width: 1024px) {
  form .input_group,
  form .input_group_3 {
    display: -ms-grid;
    display: grid;
    gap: 0 1em;
  }
  form .input_group {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  form .input_group_3 {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .custom_form .details .columns {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

button {
  border-radius: 4px;
  border: none;
  background: #000;
  color: #fff;
  padding: 8px 12px;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  -webkit-box-shadow: 2px 2px 4px #4b4b4b;
          box-shadow: 2px 2px 4px #4b4b4b;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.btn_danger {
  background: #ff0000;
}

.HomePage .Hero {
  height: 70dvh;
  max-width: 100dvw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.HomePage .Hero .container {
  display: -ms-grid;
  display: grid;
  gap: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.HomePage .Hero .container .image img {
  width: 100%;
  height: 100%;
}

.HomePage .Hero .container .text {
  line-height: 1.5;
}

.HomePage .Hero .container .text .title {
  font-size: 2.4em;
}

.HomePage .Hero .container .text .sub_title {
  font-size: 1em;
}

.HomePage .Hero .container .text .btns {
  margin: 2.4em 0;
}

.HomePage .Hero .container .text .btns a {
  background: #000;
  color: #fff;
  padding: 12px 24px;
  font-weight: bold;
  font-size: 1.2em;
  border-radius: 8px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.HomePage .Hero .container .text .btns a:hover {
  -webkit-box-shadow: 2px 4px 8px #000;
          box-shadow: 2px 4px 8px #000;
}

@media screen and (min-width: 1024px) {
  .HomePage .Hero {
    height: 90dvh;
  }
  .HomePage .Hero .container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 2em;
    padding-right: unset;
  }
  .HomePage .Hero .container .text .title {
    font-size: 4em;
  }
  .HomePage .Hero .container .text .sub_title {
    font-size: 1.2em;
  }
  .HomePage .Hero .container .image {
    height: 90dvh;
  }
}

.ContactPage .container {
  display: -ms-grid;
  display: grid;
  gap: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ContactPage .container .text .title {
  font-size: 1.2em;
  margin: 0 0 0.8em;
}

@media screen and (min-width: 726px) {
  .ContactPage .container .text .title {
    font-size: 3.2em;
  }
}

.ContactPage .container .text .content {
  display: -ms-grid;
  display: grid;
  font-size: 2em;
}

.MainApp .UserMessage .header p span {
  font-size: 0.85em;
}

.MainApp .UserMessage .header p span:first-of-type {
  font-size: 1em;
  font-weight: bold;
}

.MainApp .UserMessage .body {
  padding: 12px 5%;
  color: #000;
}

.MainApp .UserMessage .body .details .message_details .time {
  font-size: 0.75em;
  text-align: center;
}

.MainApp .UserMessage .body .details .message_details .user_message {
  background: #dcfcfa;
  width: 70%;
  margin: 0.5em 0 2em;
  padding: 8px 15px;
  border-radius: 8px 8px 32px 8px;
  -webkit-box-shadow: 2px 2px 4px #6e6e6e;
          box-shadow: 2px 2px 4px #6e6e6e;
}

.MainApp .UserMessage .body form {
  margin: 2em 0 0;
  padding: unset;
}

@media screen and (min-width: 726px) {
  .ContactPage .container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .UserMessage {
    width: 40dvw;
    margin: auto;
  }
}

.Authentication {
  height: 90dvh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Authentication form {
  background: #efefef;
  color: #000;
  padding: 8px 24px 16px;
  border-radius: 8px;
}

.Authentication form .header p {
  font-weight: bold;
  font-size: 1.2em;
}

.Authentication form p {
  margin: 0.8em 0;
}

.Authentication form a {
  color: blue;
}

.Authentication .VerifyEmail form {
  margin: 0 0 1em;
}

@media screen and (min-width: 726px) {
  .Authentication .Login,
  .Authentication .ForgotPassword,
  .Authentication .ResetPassword {
    width: 30dvw;
  }
  .Authentication .Signup {
    width: 60dvw;
  }
}

.MainApp .app_content {
  margin-left: 15%;
  padding: 4px 16px;
  min-height: 100dvh;
  height: auto;
}

.MainApp .app_content .system_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  margin: 0.2em 0 0.4em;
}

.MainApp .app_content .system_nav a {
  font-weight: bold;
}

.MainApp .app_content .system_nav a:not(:last-child),
.MainApp .app_content .system_nav span:not(:last-child) {
  font-weight: bold;
}

.MainApp .app_content .system_nav a:not(:last-child)::after,
.MainApp .app_content .system_nav span:not(:last-child)::after {
  content: " / ";
  color: #000;
  margin: 0 0 0 0.6em;
}

.MainApp .app_content .row_container {
  display: -ms-grid;
  display: grid;
  gap: 2em;
}

@media screen and (min-width: 726px) {
  .MainApp aside {
    width: 15%;
  }
  .MainApp .app_content .row_container {
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
  }
}

.Dashboard .section {
  margin: 0 0 0.8em;
}

.Dashboard .stats {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 1em;
  padding: 8px 0;
}

.Dashboard .stats .stat {
  display: -ms-grid;
  display: grid;
  background: #defffd;
  padding: 8px 16px;
  border-radius: 8px;
}

.Dashboard .stats .stat span:first-of-type {
  font-weight: bold;
  font-size: 1.6em;
}

.Dashboard .stats .stat span:last-of-type {
  font-size: 0.85em;
  color: #575757;
}

.Dashboard .messages .message {
  border-bottom: 1px solid #c4c4c4;
  padding: 4px 0;
}

.Dashboard .messages .message p span {
  font-size: 0.8em;
}

@media screen and (min-width: 726px) {
  .Dashboard .stats {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
}
/*# sourceMappingURL=app.css.map */