.read,
.inactive {
  color: #acacac;
  font-style: italic;
}

.unverified {
  color: #ff0000;
}

.badge {
  font-size: 0.65em;
  background: #54b7b1;
  color: #fff;
  padding: 0 6px 1px;
  border-radius: 4px;
}

.super_admin {
  background: #008000;
}

.center {
  text-align: center !important;
}

.stack {
  display: grid;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif, "Open Sans", "Helvetica Neue";
}

body {
  background: #2b3230;
  color: #efefef;
}

.container {
  padding: 10px 5%;
}

img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  text-decoration: none;
  color: #54b7b1;
}
a:hover {
  color: #efefef;
}

.title {
  font-weight: bold;
}

nav {
  height: 10vh;
  padding: 15px 5%;
  display: grid;
  align-items: center;
  grid-template-columns: 50% 1fr auto;
  gap: 1em;
  position: sticky;
  top: 0;
  background: rgba(43, 50, 48, 0.8);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 1000;
}
nav a {
  color: #efefef;
}
nav .brand .title {
  font-size: 1.2em;
}
nav .nav_links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.2em;
}
nav .nav_links .active {
  font-weight: bold;
}
nav .nav_authentication {
  margin-left: 2em;
}
nav .nav_authentication .login_btn,
nav .nav_authentication .logout_btn {
  color: #ededed;
  padding: 6px 16px;
  border-radius: 32px;
  text-transform: uppercase;
  font-weight: bold;
}
nav .nav_authentication .actions {
  display: flex;
  align-items: center;
  gap: 1em;
}
nav .nav_authentication .actions .logout_btn {
  background: rgb(240, 6, 6);
}
nav .nav_authentication .login_btn {
  background: #000;
}
nav .burger_menu {
  display: none;
}

@media screen and (width <= 726px) {
  nav {
    grid-template-columns: 1fr auto auto auto;
    gap: 0.5em;
  }
  nav .nav_links {
    display: none;
    position: absolute;
    top: 10vh;
    right: 0;
    height: 50vh;
    width: 60%;
    padding: 0 20px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    background: rgba(145, 145, 145, 0.75);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
  }
  nav .nav_links a {
    font-size: 1.1em;
    letter-spacing: 0.5px;
  }
  nav .burger_menu {
    display: block;
    cursor: pointer;
  }
  nav .burger_menu .burger_icon {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  nav .burger_menu .burger_icon span {
    width: 100%;
    height: 3px;
    background: #000;
  }
  nav .show {
    display: flex;
  }
  nav .active_burger span {
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  nav .active_burger span:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  nav .active_burger span:nth-child(2) {
    opacity: 0;
  }
  nav .active_burger span:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}
aside {
  height: 100%;
  position: fixed;
  padding: 4px 8px;
  text-align: center;
  border-right: 1px solid #666666;
}
aside .header .text,
aside .text {
  display: none;
}
@media screen and (width >= 726px) {
  aside .header .text,
  aside .text {
    display: block;
  }
}
aside i {
  font-size: 1.5em;
}
aside a {
  color: #fff;
  text-decoration: none;
}
aside .header img {
  width: 40px;
  height: 40px;
  padding: 2px;
  border-radius: 50%;
  border: 1px solid #008000;
}
aside ul {
  list-style: none;
  margin: 0.4em 0 0;
}
aside ul li {
  padding: 2px 4px;
}
aside ul li a {
  opacity: 0.75;
}
aside .active,
aside ul li:hover {
  color: #54b7b1;
}
aside .active a,
aside ul li:hover a {
  color: #fff;
  font-weight: bold;
  opacity: 1;
}
aside .footer {
  position: absolute;
  bottom: 1.2em;
  width: 90%;
  margin: 0 auto;
}
aside .footer .logout {
  margin: 0.5em 0 0;
}
aside .footer .logout form button {
  padding: unset;
  background: none;
}
aside .footer .logout form button i {
  color: #ff0000;
}

@media screen and (width >= 726px) {
  aside {
    text-align: left;
  }
  aside i {
    font-size: 0.92em;
  }
  aside .header {
    padding: 0.2em 0;
    display: grid;
    grid-template-columns: 40px auto;
    gap: 0.2em;
    align-items: center;
    justify-content: start;
  }
  aside .header img {
    width: 35px;
    height: 35px;
  }
  aside .header span {
    font-size: 0.85em;
    color: #fff;
  }
  aside .header .text {
    display: grid;
  }
  aside ul li {
    border-bottom: 1px solid #666666;
  }
  aside ul li:first-of-type {
    border-top: 1px solid #666666;
  }
  aside ul li a {
    display: flex;
    align-items: center;
    gap: 0.2em;
    font-size: 0.92em;
    letter-spacing: 0.2px;
  }
  aside .footer {
    left: 0;
    margin: 0 0.4em 0;
  }
  aside .footer .logout button {
    display: flex;
    align-items: center;
    gap: 0.4em;
  }
  aside .footer .logout form button {
    justify-content: center;
    background: #ff0000;
    color: #fff;
    padding: 4px 16px;
  }
  aside .footer .logout form button i {
    color: #fff;
  }
}
footer {
  background: #080909;
}
footer .container {
  padding: 2.8em 5%;
}
footer .container section {
  margin: 0 0 1.5em;
}
footer .container .branding .title {
  font-size: 1.5em;
  margin: 0.2em 0;
}
footer .container .links {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
footer .container .contacts .socials {
  margin: 0.8em 0 0;
}
footer .container .contacts .socials img {
  width: 24px;
  height: 24px;
  margin: 0 1em 0 0;
}
footer .copyright {
  border-top: 1px solid #666666;
  text-align: center;
  padding: 12px;
}

@media screen and (width >= 726px) {
  footer .container {
    display: grid;
    grid-template-columns: 30% 1fr 1fr;
  }
  footer .container section {
    margin: 0;
  }
  footer .container .links,
  footer .container .contacts {
    justify-self: center;
  }
}
.alert {
  padding: 0.5em 1em;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  z-index: 10;
}

.alert-danger {
  background: #ff0000;
}

.alert-success {
  background: #008000;
}

.alert-status {
  background: #49cefa;
}

.alert-warning {
  background: #c28005;
}

.inline_alert {
  margin: 0.1em 0 0;
  color: #ff0000;
}

.inline_alert_success {
  padding: 0.5em;
  margin: 0.5em 0;
  color: #008000;
}

.table {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.table .header {
  display: grid;
  gap: 0.4em;
  align-items: center;
  margin: 0 0 0.8em;
}
.table .header .details .title {
  font-size: 1em;
}
.table .header .details .stats {
  display: flex;
  gap: 0.4em;
}
.table .header .details .stats span {
  font-size: 0.75em;
}
.table .header .details .stats span:not(:last-of-type)::after {
  content: ".";
  margin-left: 0.4em;
  font-weight: bold;
}
.table .header input {
  padding: 4px 12px;
  font-size: 1em;
  border: 1px solid #666666;
  background: transparent;
  border-radius: 32px;
  color: #efefef;
}
.table .header input::-moz-placeholder {
  color: #efefef;
  font-style: italic;
}
.table .header input::placeholder {
  color: #efefef;
  font-style: italic;
}
.table .header .btn {
  margin: 0.8em 0 0;
}
.table .header .btn a {
  background: #fff;
  color: #000;
  padding: 4px 12px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 1em;
}
.table .header .btn a:hover {
  background: #000;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.table table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
.table table thead {
  background: #fff;
  color: #000;
}
.table table thead th {
  padding: 2px 4px;
  font-size: 0.9em;
  text-align: left;
}
.table table thead th:first-of-type {
  border-radius: 4px 0 0 0;
}
.table table thead th:last-of-type {
  border-radius: 0 4px 0 0;
}
.table table tbody tr {
  border-bottom: 1px solid #666666;
}
.table table tbody tr td {
  padding: 4px;
  font-size: 0.95em;
}

@media screen and (width >= 726px) {
  .table .header {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .table .header .btn {
    justify-self: right;
  }
}
form label {
  font-size: 1em;
  color: #363636;
}
form label.required::after {
  content: " * ";
  color: #ff0000;
  font-weight: bold;
  font-size: 1em;
}
form input,
form select,
form textarea {
  width: 100%;
  background: transparent;
  border: 1px solid #666666;
  border-radius: 4px;
  margin: 0.08em 0 0;
  padding: 4px 8px;
  font-size: 1em;
}
form input::-moz-placeholder, form select::-moz-placeholder {
  opacity: 0.8;
}
form input::placeholder,
form select::placeholder {
  opacity: 0.8;
}
form .inputs {
  margin: 0 0 0.8em;
}

.custom_form {
  background: #fff;
  padding: 0 0 12px;
  border-radius: 8px 8px 0 0;
  margin: 0 0 1em;
}
.custom_form .header {
  display: flex;
  gap: 0.5em;
  background: #000;
  color: #efefef;
  padding: 8px 24px;
  border-radius: 8px 8px 0 0;
}
.custom_form form {
  padding: 12px 24px;
}
.custom_form form p {
  color: #000;
  margin: 0.4em 0;
}
.custom_form form .image_input {
  margin: 0.4em 0;
}
.custom_form form .image_input .image {
  width: 100px;
  height: 100px;
  cursor: grab;
}
.custom_form form .details {
  margin: 0 0 1.6em;
}
.custom_form form .details .image {
  width: 100px;
  height: 100px;
}
.custom_form form .custom_radio_buttons {
  display: flex;
  align-items: center;
  gap: 1em;
  margin: 0.3em 0 0;
}
.custom_form form .custom_radio_buttons label {
  position: relative;
  padding: 0.3em 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: auto;
}
.custom_form form .custom_radio_buttons label .option_radio {
  margin: 0 0.2em 0 0;
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  border: unset;
  width: auto;
}
.custom_form form .custom_radio_buttons label .option_radio:before {
  transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  transform: scale(0, 0);
  position: absolute;
  top: 0;
  left: 0.125rem;
  content: "";
  z-index: 1;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  background: #16a085;
}
.custom_form form .custom_radio_buttons label .option_radio:checked:before {
  transform: scale(1, 1);
}
.custom_form form .custom_radio_buttons label .option_radio:after {
  content: "";
  position: absolute;
  top: -0.25rem;
  left: -0.125rem;
  width: 0.9rem;
  height: 0.9rem;
  background: #fff;
  border: 2px solid #d6d6d6;
  border-radius: 50%;
}

@media screen and (width >= 726px) {
  form .input_group,
  form .input_group_3 {
    display: grid;
    gap: 0 1em;
  }
  form .input_group {
    grid-template-columns: 1fr 1fr;
  }
  form .input_group_3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
button {
  border-radius: 4px;
  border: none;
  background: #000;
  color: #fff;
  padding: 8px 12px;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
}
button:hover {
  box-shadow: 2px 2px 4px #4b4b4b;
  transition: 0.2s ease-in-out;
}

.btn_danger {
  background: #ff0000;
}

.ContactPage .container {
  display: grid;
  gap: 1em;
  align-items: center;
}
.ContactPage .container .text .title {
  font-size: 1.2em;
  margin: 0 0 0.8em;
}
@media screen and (width >= 726px) {
  .ContactPage .container .text .title {
    font-size: 3.2em;
  }
}
.ContactPage .container .text .content {
  display: grid;
  font-size: 2em;
}

.MainApp .UserMessage .header p span {
  font-size: 0.85em;
}
.MainApp .UserMessage .header p span:first-of-type {
  font-size: 1em;
  font-weight: bold;
}
.MainApp .UserMessage .body {
  padding: 12px 5%;
  color: #000;
}
.MainApp .UserMessage .body .details .message_details .time {
  font-size: 0.75em;
  text-align: center;
}
.MainApp .UserMessage .body .details .message_details .user_message {
  background: #dcfcfa;
  width: 70%;
  margin: 0.5em 0 2em;
  padding: 8px 15px;
  border-radius: 8px 8px 32px 8px;
  box-shadow: 2px 2px 4px #6e6e6e;
}
.MainApp .UserMessage .body form {
  margin: 2em 0 0;
  padding: unset;
}

@media screen and (width >= 726px) {
  .ContactPage .container {
    grid-template-columns: 1fr 1fr;
  }
  .UserMessage {
    width: 40dvw;
    margin: auto;
  }
}
.Authentication {
  height: 90dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Authentication form {
  background: #efefef;
  color: #000;
  padding: 8px 24px 16px;
  border-radius: 8px;
}
.Authentication form .header p {
  font-weight: bold;
  font-size: 1.2em;
}
.Authentication form p {
  margin: 0.8em 0;
}
.Authentication form a {
  color: blue;
}
.Authentication .VerifyEmail form {
  margin: 0 0 1em;
}

@media screen and (width >= 726px) {
  .Authentication .Login,
  .Authentication .ForgotPassword,
  .Authentication .ResetPassword {
    width: 30dvw;
  }
  .Authentication .Signup {
    width: 60dvw;
  }
}
.MainApp .app_content {
  margin-left: 15%;
  padding: 4px 16px;
  min-height: 100dvh;
  height: auto;
}

@media screen and (width >= 726px) {
  .MainApp aside {
    width: 15%;
  }
}
.Dashboard .section {
  margin: 0 0 0.8em;
}
.Dashboard .stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  padding: 8px 0;
}
.Dashboard .stats .stat {
  display: grid;
  background: #3b3b3b;
  padding: 8px 12px;
  border-radius: 8px;
}
.Dashboard .stats .stat span:first-of-type {
  font-weight: bold;
  font-size: 1.2em;
}
.Dashboard .stats .stat span:last-of-type {
  font-size: 0.85em;
  color: #acacac;
}
.Dashboard .messages .message {
  border-bottom: 1px solid #666666;
  padding: 4px 0;
}
.Dashboard .messages .message p span {
  font-size: 0.8em;
}

@media screen and (width >= 726px) {
  .Dashboard .stats {
    grid-template-columns: repeat(5, 1fr);
  }
}/*# sourceMappingURL=app.css.map */